apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: interlogica-fe
          image: ghcr/giusetega/interlogica_fronte_end:latest
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: interlogica-volume
              mountPath: react-docker-interlogica/public/img

      volumes:
        - name: interlogica-volume
          persistentVolumeClaim:
            claimName: interlogica-pvc