apiVersion: v1
kind: PersistentVolume
metadata:
  name: interlogica-pv
spec:
  capacity:
    storage: 2Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Delete
#  storageClassName: local-storage
  storageClassName: local-storage
  local:
    path: /mnt/local-data
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - aks-agentpool-13767023-vmss000000