apiVersion: v1
kind: Service
metadata:
  name: backend-lb
spec:
  type: LoadBalancer
  selector:
    app: backend
  ports:
    - name: http
      port: 80        # public port
      targetPort: 8080 # container port
