name: Interlogica CD

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set Kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'v1.33.5'

      - name: Set Kubeconfig
        uses: azure/k8s-set-context@v4
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG }}

      - name: Get k8s details
        run: kubectl get nodes

      - name: Set image (kustomize)
        run: |
          cd kubernetes/overlays/dev
          kustomize edit set image ghcr.io/giusetega/interlogica_front_end=ghcr.io/${{ github.repository_owner }}/interlogica_front_end:${{ github.sha }}

      - name: Deploy to dev
        run: |
          kubectl apply -k kubernetes/overlays/dev

      # - name: Deploy to dev
      #   run: |
      #     kubectl apply -f kubernetes/dev
      #     kubectl set image deployment/frontend-deployment \
      #       interlogica-fe=ghcr.io/${{ github.repository_owner }}/interlogica_front_end:${{ github.sha }} \
      #       -n default